.pagination {
  &__active {
    background-color: var(--primary-color-light) !important;
  }

  & button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: var(--primary-color);
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: var(--primary-color-light) !important;
    }
  }
}

.pageSection {
  &.pageSection__primary {
    background-color: var(--pageSection-primary);
  }

  &.pageSection__secondary {
    background-color: var(--pageSection-secondary);
  }
}
