.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  position: relative;

  &:hover > &-hover {
    display: block;
  }

  &-hover {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
